<div class='product-card'>
  {% if product.featured_image %}
    <a href='{{ product.url }}'>
      <img src='{{ product.featured_image | image_url: width: 600 }}' alt='{{ product.title }}'>
    </a>
  {% endif %}

  {% if product.available %}
    <button class='quick-add'>Quick Add</button>
  {% endif %}

  <div class='product-info'>
    <h3>{{ product.title }}</h3>
    {% if product.vendor %}
      <p class='vendor'>{{ product.vendor }}</p>
    {% endif %}

    {% assign variant = product.variants.first %}
    {% if variant.compare_at_price > variant.price %}
      <p class='price'>
        <span class='discounted'>{{ variant.price | money }}</span>
        <span class='original line-through'>{{ variant.compare_at_price | money }}</span>
      </p>
    {% else %}
      <p class='price'>{{ variant.price | money }}</p>
    {% endif %}

    {% if product.tags contains 'New' %}
      <span class='badge new'>NEW</span>
    {% endif %}

    {% unless product.available %}
      <span class='badge soldout'>SOLD OUT</span>
    {% endunless %}
  </div>
</div>
