<div
  class='swiper-slide color-{{ settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}'
>
  <div class='featured-collection-block'>
    <a href='{{ collection.url }}'>
      <img src='{{ collection.image | image_url: width: 800 }}' alt='{{ collection.title }}'>
    </a>
    <h2>{{ collection.title }}</h2>
    <a href='{{ collection.url }}' class='collection-link'>Explore</a>
  </div>
</div>
