<a
  href='{{ block.settings.url }}'
  class='twcss-w-full twcss-h-full twcss-block twcss-relative twcss-overflow-hidden twcss-group'
>
  <img
    src='{{ block.settings.image | image_url: width: 1200 }}'
    alt='{{ block.settings.title }}'
    class='twcss-w-full twcss-h-full twcss-object-cover twcss-block'
  >
  <div class='twcss-absolute twcss-inset-0 twcss-bg-black twcss-bg-opacity-40 twcss-flex twcss-flex-col twcss-justify-end twcss-p-6'>
    <h2 class='twcss-text-white twcss-text-3xl twcss-font-bold twcss-mb-1'>{{ block.settings.title }}</h2>
    <p class='twcss-text-white twcss-uppercase twcss-text-sm'>{{ block.settings.subtitle }}</p>
  </div>
</a>
